//-
	Подключение скриптов и стилей



link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900&display=swap&subset=cyrillic-ext")


script( src=src.js+'jquery.min.js' )


//- link( rel="stylesheet", href=src.css+'critical.css' )
link( rel="stylesheet", href=src.css+'main.min.css' )
script( src=src.js+'main.js' )



link( rel="stylesheet", href=src.css+'slick.min.css' )
script( src=src.js+'slick.min.js' )



script( src=src.js+'lazyload.min.js' )
script.
	jQuery( ".lazy" ).lazy();



link( rel="stylesheet", href=src.css+'fancybox.min.css' )
script( src=src.js+'fancybox.js' )



script( src=src.js+"superembed.min.js" )
script.
	jQuery( '.fancybox' ).fancybox();



script( src=src.js+'blocksit.min.js' )
script( src=src.js+'fotos.min.js' )